@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CryptoCore.Models.ViewModels.CoinTickerCombinedViewModel
<div class="crypto-widget__content crypto-overflow-x-auto">
        <table class="mdl-data-table mdc-typography--overline">
            <thead class="crypto-transactions-list__labels">
                <tr>
                    <th></th>
                    <th class="mdl-data-table__cell--non-numeric">Symbol</th>
                    <th class="mdl-data-table__cell--non-numeric">Price</th>
                    <th class="mdl-data-table__cell--non-numeric">Percent Change</th>
                    <th class="mdl-data-table__cell--non-numeric">Count</th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coin in Model.AllInfo)
                {
                <form asp-controller="Home" asp-action="AddCoin" asp-route-symbol="@coin.CoinSymbol" asp-route-high="high" asp-route-low="low">
                <tr class="crypto-transactions-list__item">
                    <td class="mdl-data-table__cell--icon"><i class="fab fa-bitcoin"></i></td>
                    <td class="mdl-data-table__cell--non-numeric">@coin.CoinSymbol.Replace("USDT", "")</td>
                    <td class="mdl-data-table__cell--non-numeric">$@coin.Price</td>
                    <td class="mdl-data-table__cell--non-numeric">%@coin.PriceChangePercent</td>
                    <td class="mdl-data-table__cell--non-numeric">@coin.Count</td>
                    <td><a href="#" class="crypto-transactions-list__item-toggle"><i class="material-icons">chevron_right</i></a></td>
                </tr>
                    <tr class="crypto-transactions-list__item--details">
                      <td colspan="7">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                        <ul class="mdc-list mdc-list--dense demo-list">
                                            <li class="mdc-list-item">
                                               High <span class="mdc-list-item__meta"> <input placeholder="Please enter high"  type="text" name="high" class="mdc-text-field__input" required></span>
                                            </li>
                                            <li class="mdc-list-item">
                                               Low <span class="mdc-list-item__meta"><input type="text" placeholder="Please enter low"name="low" class="mdc-text-field__input" required></span>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                        <button class="mdc-button mdc-button--outlined">
                                           Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>