@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CryptoCore.Models.ViewModels.CoinTickerCombinedViewModel

<div>
    <form asp-controller="Home" asp-action="DisplaySearchInfo">
        <p>
            Search <input type="text" name="symbol" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
                <th scope="col">Price change over 24HR</th>
                <th scope="col">Action</th>>
            </tr>
        </thead>
        <tbody>
            @foreach (var coin in Model.SearchInfo)
            {
                <tr>
                    <th scope="row">@coin.CoinSymbol.Replace("USDT", "")</th>
                    <td>$@coin.Price</td>
                    <td>%@coin.PriceChangePercent</td>
                </tr>
            }
        </tbody>
    </table>


</div>

@section Scripts
{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Required MDC Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}
