
@model CryptoCore.Models.ViewModels.CoinTickerCombinedViewModel

<div>
    <form asp-controller="Home" asp-action="DisplaySearchInfo">

        <div class="mdc-layout-grid__cell--span-6">
            
            <input placeholder="Coin Symbol" type="text" name="symbol" class="mdc-text-field__input">

            <div class="mdc-line-ripple"></div>

            <button class="mdc-button mdc-button--outlined">
                Search
            </button>
        </div>

       
    </form>

    <div class="crypto-widget__content crypto-overflow-x-auto">
        <table class="mdl-data-table mdc-typography--overline">
            <thead class="crypto-transactions-list__labels">
                <tr>
                    <th></th>
                    <th class="mdl-data-table__cell--non-numeric">Symbol</th>
                    <th class="mdl-data-table__cell--non-numeric">Price</th>
                    <th class="mdl-data-table__cell--non-numeric">Price change over 24HR</th>
                    <th>Add Coin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coin in Model.SearchInfo)
                {
                    <tr class="crypto-transactions-list__item">
                        <td class="mdl-data-table__cell--icon"><i class="fab fa-bitcoin"></i></td>
                        <td class="mdl-data-table__cell--non-numeric">@coin.CoinSymbol.Replace("USDT", "")</td>
                        <td class="mdl-data-table__cell--non-numeric">$@coin.Price</td>
                        <td class="mdl-data-table__cell--non-numeric">%@coin.PriceChangePercent</td>
                        <td><a href="#" class="crypto-transactions-list__item-toggle"><i class="material-icons">chevron_right</i></a></td>
                    </tr>
                    <tr class="crypto-transactions-list__item--details">
                        <td colspan="7">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                        <ul class="mdc-list mdc-list--dense demo-list">
                                            <li class="mdc-list-item">
                                               High <span class="mdc-list-item__meta"> <input placeholder="Please enter high"  type="text" class="mdc-text-field__input" required></span>
                                            </li>
                                            <li class="mdc-list-item">
                                               Low <span class="mdc-list-item__meta"><input type="text" placeholder="Please enter low" class="mdc-text-field__input" required></span>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                        <button class="mdc-button mdc-button--outlined">
                                           Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>


