
@model CryptoCore.Models.ViewModels.CoinTickerCombinedViewModel

<div>
    <form asp-controller="Home" asp-action="DisplaySearchInfo">

        <div class="mdc-layout-grid__cell--span-6">

            <input placeholder="Coin Symbol" type="text" name="symbol" class="mdc-text-field__input">

            <div class="mdc-line-ripple"></div>

            <button class="mdc-button mdc-button--outlined">
                Search
            </button>
        </div>


    </form>

    <div class="crypto-widget__content crypto-overflow-x-auto">
        <table class="mdl-data-table mdc-typography--overline">
            <thead class="crypto-transactions-list__labels">
                <tr>
                    <th></th>
                    <th class="mdl-data-table__cell--non-numeric">Symbol</th>
                    <th class="mdl-data-table__cell--non-numeric">Price</th>
                    <th class="mdl-data-table__cell--non-numeric">Price change over 24HR</th>
                    <th>Add Coin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coin in Model.SearchInfo)
                {
 <form asp-controller="Home" asp-action="AddCoin" asp-route-symbol="coin.CoinSymbol" asp-route-high="high" asp-route-low="low">
             

 <tr class="crypto-transactions-list__item--details">
                     
                                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1">
                                        <ul class="mdc-list mdc-list--dense demo-list">
                                             <h1>coin.CoinSymbol</h1>
                                            <li class="mdc-list-item">
                                              
                                             Update High <input placeholder="Please enter high" name="high" width="48"  type="text" class="mdc-text-field__input" required>
                                            </li>
                                            <li class="mdc-list-item">
                                               Update Low <input type="text" placeholder="Please enter low" name="low" width="48" class="mdc-text-field__input" required>
                                            </li>
                                            <li>
                                                <button class="mdc-button mdc-button--outlined" >
                                                Update
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" onclick="location.href='@Url.Action("RemoveCoin", "Home", new {symbol =coin.CoinSymbol})'" class="mdc-button mdc-button--outlined" >
                                                Delete
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </tr>
                            </form>

                }
            </tbody>
        </table>
    </div>


</div>


