@model CryptoCore.Models.ViewModels.CoinTickerCombinedViewModel

<div class="crypto-widget__content crypto-overflow-x-auto">
    <table class="mdl-data-table mdc-typography--overline">
        <thead class="crypto-transactions-list__labels">
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
