@model CryptoCore.Models.ViewModels.CoinTickerCombinedViewModel

<h1 class="text-center" style="color: black; text-align: center;">Thank you for viewing CryptoCore!</h1>

<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
        <div style="flex-grow: 2; align-self: flex-start; ">
            <img src="~/images/Campbell600.jpg" style="max-height: 300px; max-width: 300px; border-radius: 25px;" />
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
            <h1 style="font-style: italic; font-size: 3em;">Mike Campbell</h1>
            <div>
                <a style="font-size: 1em;" href="https://github.com/Michch333" target="_blank">Github</a>
                <a style="font-size: 1em;" href="https://www.linkedin.com/in/michael-tee-campbell/" target="_blank">Linkedin</a>
            </div>
            <p>Hello! My Name is Mike Campbell. Currently a Techinal Product Owner at Quicken Loans, this is my second Grand Circus bootcamp and i'm excited to show off what i've learned!</p>
            <p>While I am not taking the bootcamp to search for employment like many grand circus students, I am eager for any opportunity to grow and expand my skillset!</p>
            <p>My current role </p>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div>
                    <p>So far I am proficent in:</p>
                    <ul>
                        <li>
                            C#
                        </li>
                        <li>
                            Typescript
                        </li>
                        <li>
                            SQL
                        </li>
                        <li>
                            APIs
                        </li>
                        <li>
                            HTML
                        </li>
                        <li>
                            CSS
                        </li>
                    </ul>
                </div>
                <div style="margin-left: 80%">
                    <p>Frameworks I am comfortable using:</p>
                    <ul>
                        <li>Angular 8</li>
                        <li>ASP .Net Core</li>
                        <li>Bootstrap</li>
                        <li>Material</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; flex-direction: column-reverse; justify-content: space-between; align-items: center;">
        <div style="flex-grow: 2">
            <img src="~/images/Darshan600.jpg" style="max-height: 300px; max-width: 300px; border-radius: 25px; " />
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
            <h1 style="font-style: italic; font-size: 3em;">Darshan Patel</h1>
            <div>
                <a href="https://github.com/darshanpatel5758" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/darshan-patel-4ab610169/" target="_blank">Linkdin</a>
            </div>
            <p>Hello! My Name is Darshan Patel. Currently a C# student in training at Grand Circus. I'm excited to learn and grow through my development journey!</p>
            <p>I enjoy playing cricket, videogames, and solving puzzles!</p>
            <p>So far I am proficent in:</p>
            <ul>
                <li>
                    C#
                </li>
                <li>
                    SQL
                </li>
                <li>
                    APIs
                </li>
                <li>
                    MVC
                </li>
                <li>
                    Entity Framework
                </li>
            </ul>
        </div>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
        <div style="flex-grow: 2; align-self: flex-end">
            <img src="~/images/Jason600.jpg" style="max-height: 300px; max-width: 300px; border-radius: 25px;" />
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
            <h1 style="font-style: italic; font-size: 3em;">Jason Walser</h1>
            <div>
                <a href="https://github.com/Java-Jason10611" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/jasonwalser/" target="_blank">Linkdin</a>
            </div>
            <p>Hey! I'm Jason. C# computer programmer who loves building things in the physical space as well - i'm exicited to bring that passion to the technical space!</p>
            <p>In my free time I love to play discgolf, hang out in Detroit, and listen to music.</p>
            <p>So far I am proficent in:</p>
            <ul>
                <li>
                    C#
                </li>
                <li>
                    CSS
                </li>
                <li>
                    SQL
                </li>
                <li>
                    APIs
                </li>
                <li>
                    Azure
                </li>
                <li>
                    MVC
                </li>
            </ul>
        </div>
    </div>
</div>
