@{
    ViewData["Title"] = "Home Page";
}
@model CurrentPriceViewModel


<table class="table">
    <tr style="border-bottom: 3px solid black">
        <th>Symbol</th>
        <th>Price</th>
    </tr>
    
    @foreach(var coin in Model.Coins)
    {
        <tr>
            <td style="font-weight:bold">@coin.Symbol.Replace("USDT","")</td>
            <td>$@coin.Price</td>
        </tr>
    }
</table>