
<div class="crypto-widget__content crypto-overflow-x-auto">
    <table class="mdl-data-table mdc-typography--overline">
        <thead class="crypto-transactions-list__labels">
            <tr>
                <th></th>
                <th class="mdl-data-table__cell--non-numeric">Date</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th class="mdl-data-table__cell--non-numeric">To/From</th>
                <th>Amount</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="crypto-transactions-list__item">
                <td class="mdl-data-table__cell--icon"><i class="fab fa-bitcoin"></i></td>
                <td class="mdl-data-table__cell--non-numeric">28 JUN 2018, 17:21</td>
                <td class="mdl-data-table__cell--non-numeric">Payment to OX LLC</td>
                <td class="mdl-data-table__cell--non-numeric">E9873HJKDFJSFHA</td>
                <td>0.061BTC <span class="crypto-transactions-list__item-price">($445)</span></td>
                <td class="mdl-data-table__cell--non-numeric crypto-transactions-list__status crypto-transactions-list__status--pending">Pending</td>
                <td><a href="#" class="crypto-transactions-list__item-toggle"><i class="material-icons">chevron_right</i></a></td>
            </tr>
            <tr class="crypto-transactions-list__item--details">
                <td colspan="7">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <ul class="mdc-list mdc-list--dense demo-list">
                                    <li class="mdc-list-item">
                                        Version no <span class="mdc-list-item__meta">1</span>
                                    </li>
                                    <li class="mdc-list-item">
                                        Flag <span class="mdc-list-item__meta">0001</span>
                                    </li>
                                    <li class="mdc-list-item">
                                        Lock time <span class="mdc-list-item__meta">135180102155</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <ul class="mdc-list mdc-list--dense demo-list">
                                    <li class="mdc-list-item">
                                        Witnesses <span class="mdc-list-item__meta">2</span>
                                    </li>
                                    <li class="mdc-list-item">
                                        In-counter <span class="mdc-list-item__meta">177165211146174175</span>
                                    </li>
                                    <li class="mdc-list-item">
                                        Out-counter <span class="mdc-list-item__meta">111232135106240239</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
