@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CurrentPriceViewModel

<form asp-controller="Home" asp-action="SearchBySymbol">
   <p> Search <input type="text" name="symbol" />
     <input type="submit" value="Search" /></p>

</form>   
<table class="table">
<tr>
    <th>Coin Symbol</th>
    <th>Price</th>
    <th>Add</th>
</tr>
@foreach(var coin in Model.Coins)
{
    <tr>
        <form method="post" asp-controller="Home" asp-action="AddCoinToDB" asp-route-coinSymbol="@coin.Symbol" asp-route-coinPrice="@coin.Price">
            <td>@coin.Symbol.Replace("USDT", "")</td>
            <td name="coinPrice">@coin.Price</td>
            <td><button class="btn btn-dark" type="submit">Add to collection</button></td>
        </form>
    </tr>
}
</table>